body{
    background-color:rgb(118 179 251);
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.clima {
    font-size: 1.4rem;
}

.sunny {
    background-color: rgb(100, 149, 237);
}


.rainy{
    background-color: rgb(41, 63, 124);

    #topico{
        #inicio{
            background-color: rgb(83, 116, 206);
    }
    
    #comparar{
        #numero{
            color: rgb(3, 20, 53);
        }
    }
    
    
    }
    
        #busca{
            background-color: rgb(83, 116, 206);
    
            button{
                background-color: rgb(92, 129, 230);
            }
        }
    
        #principal{
            background-color: rgb(83, 116, 206);
            box-shadow: 0 13px 16px rgba(255, 255, 255, 0.096);
        
            #cidade-compartilhamento{
            #compartilhamento{
               
                p{
                    background-color: rgb(92, 129, 230);
                }
            }
    
        }
    
    }
    
    #mensagem{
        background-color: rgb(92, 129, 230);
    }
    
    #proximosDias{
    
        .dias{
            background-color: rgb(92, 129, 230);
        }
    
    }
    }


.night {
    background-color: rgb(3, 20, 53);
    color: white;
    
    #topico{
    #inicio{
        background-color: rgb(35, 93, 160);
}

#comparar{
    #numero{
        color: rgb(3, 20, 53);
    }
}


}

    #busca{
        background-color: rgb(35, 93, 160);

        button{
            background-color: rgb(45, 113, 192);
        }
    }

    #principal{
        background-color: rgb(35, 93, 160);
        box-shadow: 0 13px 16px rgba(255, 255, 255, 0.096);
    
        #cidade-compartilhamento{
        #compartilhamento{
           
            p{
                background-color: rgb(45, 113, 192);
            }
        }

    }

}

#mensagem{
    background-color: rgb(45, 113, 192);
}

#proximosDias{

    .dias{
        background-color: rgb(45, 113, 192);
    }

}
}



#topico{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 40rem;

    #inicio{
     background-color: rgb(169 208 253); 
     width: 5rem;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 500;
    }

    #comparar{
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        #numero{
            width: 1.3rem;
            height: 1.3rem;
            background-color: white;
            color: rgb(118 179 251);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            border-radius: 100%;
            font-size: 0.8rem;
        }
    }
}

#busca{
    display: flex;
    flex-direction: row;
    width: 26.3rem;
    background-color: rgb(151 197 252);
    justify-content: space-between;
    height: 2.5rem;
    align-items: center;

        button{
            height: 2.5rem;
            width: 4.5rem;
            background-color: rgb(165 205 252);
            border: none;
            color: white;
            font-weight: 600;
            font-size: 0.87rem;
        }

        input{
            font-size: 1rem;
            margin-left: 1rem;
            border: none;
            background-color:transparent;
            color: white;
            outline: none;
        }

        input::placeholder {
            color: #ffffff; 
        }
}


#principal{
    background-color: rgb(151 197 252);
    width: 26.3rem;
    border-radius: 0.7rem;
    box-shadow: 0 13px 16px rgba(0, 0, 0, 0.1);
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #cidade-compartilhamento{
        display: flex;
        justify-content: space-between;
        width: 24rem;
        

    #cidade-data{
        height: 5rem;
        display: flex;
        flex-direction: column;
        

        #cidade-apresentar{
            font-size: 1.5rem;
            font-weight: 700;
        }

        #data{
            margin-top: -1.3rem;
            color: rgba(255, 255, 255, 0.822);
            letter-spacing: 0.066rem;
            font-size: 0.9rem;
            font-weight: 500;
        }
}

#compartilhamento{
    display: flex;
    width: 4.6rem;
    justify-content: space-between;
    height: 2rem;
    

    p{
        background-color: rgb(174, 212, 255);
        width: 2.1rem;
        height: 2rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        margin-top: 1.5rem;
     }
    }
    } 
}

#div-temperatura{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    margin-top: -1.4rem;
p{
    font-size: 2.7rem;
    font-weight: 600;
    
}
}

#div-clima{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6rem;
    margin-top: -2.5rem;
    
    #clima{
        font-weight: 600;
        height: 0.5rem;
    }

    #vento-umidade{
        display: flex;
        flex-direction: row;
        width: 9rem;
        justify-content: space-between;
        margin-top: -0.8rem;

        p{
            font-size: 0.9rem;
            color:rgba(255, 255, 255, 0.822);     
        }
    }
}

#mensagem{
    background-color: rgb(165 205 252);
    width: 23.5rem;
    margin: 0.5rem;
    p{
        text-align: center; 
        margin:0.8rem;
        line-height: 1.5rem;
    }

}

#msg-proximosDias{
    width: 23.4rem;
    display: flex;
    justify-content: flex-start;
}

#proximosDias{
    display: flex;
    width: 23.4rem;
    justify-content: space-between;
    height: 6rem;

    .dias{
        background-color: rgb(165 205 252);
        width: 7.5rem;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .temperatura{
            margin: 0px;
        }

        .clima{
            margin:0px;
        }

        .diaDaSemana{
            margin: 0px;
        }

    }

}



